/* Importing material prebuild theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

body {
  background: #eaeaea;
  margin: 0;
}

md-card {
  margin: 20px;
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}
